ENV=development
HOST=0.0.0.0
PORT=8000

MONGO_URL=
DB_NAME=

SECRET_KEY=
COOKIE_SECURE=false

FIREBASE_PROJECT_ID=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_APP_ID=

RESEND_API_KEY=

MAX_MESSAGE_LEN=10000
ALLOW_LOCAL_MONGO=true